<div class='card search'>
  <h1>
    Employee Directory
  </h1>

  <div class='search-controls'>
    <form onSubmit={{action search}}>
      <div class="col-md-8">
        <div class='form-group'>
          <input type='search' class='form-control' placeholder="First Name" value={{query.firstNamePrefix}} oninput={{action updateInput query 'firstNamePrefix'}} />
        </div>
        <div class='form-group'>
          <input type='search' class='form-control' placeholder="Last Name" value={{query.lastNamePrefix}} oninput={{action updateInput query 'lastNamePrefix'}} />
        </div>
      </div>
      <div class="col-md-4">
        <button class="btn btn-lg btn-primary pull-right" type="submit">Search</button>
      </div>
    </form>
  </div>

  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Title</th>
        <th>Department</th>
      </tr>
    </thead>

    <tbody>
      {{#each employees key="@index" as |employee|}}
        <tr>
          <td>{{employee.fullName}}</td>
          <td>{{employee.age}}</td>
          <td>{{employee.currentPosition.title}}</td>
          <td>{{employee.currentPosition.department.name}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
