<div class="card form clearfix">
  <h1>Create New Employee</h1>

  <form onSubmit={{action submit}}>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <input type="text" class="form-control {{has-error employee 'first_name' 'has-error'}}" placeholder="First Name" value={{employee.firstName}} oninput={{action updateInput employee 'firstName'}} />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <input type="text" class="form-control {{has-error employee 'age' 'has-error'}}" placeholder="Age" value={{employee.age}} oninput={{action updateInput employee 'age'}} />
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <input type="text" class="form-control {{has-error employee 'last_name' 'has-error'}}" placeholder="Last Name" value={{employee.lastName}} oninput={{action updateInput employee 'lastName'}} />
        </div>
      </div>
    </div>

    <div class='positions'>
      {{#each employee.positions key="@index" as |position|}}
        {{#unless position.isDestroyed}}
          <div class="row position">
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" class="form-control {{has-error position 'title' 'has-error'}}" placeholder="Title" value={{position.title}} oninput={{action updateInput position 'title'}} />
                <span class='error'>{{err position 'title'}}</span>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <select onchange={{action changeDepartment position}}>
                  <option value="" disabled selected>Department</option>
                  {{#each departments key="@index" as |d|}}
                    <option selected={{eq position.department.id d.id}} value={{d.id}}>{{d.name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="col-md-1">
              <button type="button" class="btn-add btn btn-default btn-xs" onclick={{action removePosition position}}>x</button>
            </div>
            <div class="col-md-1">
              <button type="button" class="btn-add btn btn-default btn-xs" onclick={{action addPosition}}>+</button>
            </div>
          </div>
        {{/unless}}
      {{/each}}
    </div>

    <button type="submit" class="pull-right btn btn-primary">Submit</button>
  </form>
</div>
